#show_block
{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

#circle {
    width:8px;
    height:8px;
    border:1px solid black;
    border-radius:50%;
    position:absolute;
    left:0;
    top:0;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}