#picker_append
{
    background: none repeat scroll 0 0 #CECECE;
    height: 450px;
    width: 505px;
}

/* colorpicker css */
#show_block
{
    width: 100px;
    height: 100px;
    float: left;
}

#circle {
    width:8px;
    height:8px;
    border:1px solid black;
    border-radius:50%;
    position:absolute;
    left:0;
    top:0;
    cursor: default;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

#picker
{
    width: 256px;
    height: 256px;
    float: left;
}

.hueline
{
    cursor: crosshair;
    float: left;
}
/* ----------------- */